<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="http://pogamando.com.br/">Pogamando</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Angular 4 - Lookup de serviços injetáveis</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="card">
        <div class="card-header">Exemplo de produto</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Descrição</label>
                        <input name="descricao" class="form-control" [(ngModel)]="produto.nome" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Valor</label>
                        <input type="number" name="vlr" class="form-control" [(ngModel)]="produto.valor" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-primary" (click)="salvar()">Salvar</button>
            <button class="btn btn-secondary" (click)="cancelar()" >Cancelar</button>
        </div>
    </div>

    <br />

    <div class="card">
        <div class="card-body">
            <pre>{{ produto | json }}</pre>
        </div>
    </div>
</div>
